.custom-btn {
  margin: 0;
  padding: 3px;
  margin-bottom: 5px;
}

.active {
  border: 4px solid black !important;
}

.completedMissionCSS {
    text-decoration: line-through;
}

i:hover {
  cursor: pointer;
}

.fa,
.fas,
.far,
.fab,
i {
  line-height: 0 !important;
}

html,body {
  background: linear-gradient(135deg, #f9f9ff, #e6f0ff);
}

@media screen and (max-width: 1250px){
    .taskDescribtionDiv {
        display: inline-block !important;
        width: 45%;
    }
    .taskDueDateDiv{
        display: inline-block !important;
        width: 45%;
    }
    .btnDiv{
        width: 100%;
        display: inline-block !important;
    }
    #taskDescribtion{
        width: 100% !important;
    }
    #taskDueDate{
        width: 100% !important;
    }
    .custom-btn {
        width: 90% !important;
    }
    .spanItem{
        display: block !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 650px){
    .taskDescribtionDiv {
        display: inline-block !important;
        width: 100%;
    }
    .taskDueDateDiv{
        display: inline-block !important;
        width: 100%;
    }
    .btnDiv{
        width: 100%;
        display: inline-block !important;
    }
    #taskDescribtion{
        width: 100% !important;
    }
    #taskDueDate{
        width: 100% !important;
    }
    .custom-btn {
        width: 100% !important;
    }
}

.rights{
    float: right;
    width: 50%;
    text-align: right;
}

.projectNameHeader{
    margin-bottom: 10px;
    float: left;
    width: 50%;
    padding: 10px;
}

.icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.icons-container div{
    width: 180px;
    height: 90px;
    text-align: center;
    padding: 20px;
}

.icons-container a{
    color: #2C2C2C;
    font-size: 25px;
}

.icons-container p{
    font-size: 15px;
}

.button-style {
    display: inline-block;
    background-color: #0457dc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 40px;
    transition: transform 0.5s;
}

.button-style:hover{
    text-decoration: none;
    color: #2C2C2C;
    transform: scale(0.9,0.9);
}